/*
 * reset
 */

* {
    border: 0;
    margin: 0;
    padding: 0;
}
    
body {
    background-color: white;
    font-family: Helvetica;
}

ul {
    list-style: none;
}

a {
    border-bottom: 1px solid white;
    color: black !important;
    text-decoration: none !important;
}

a:hover {
    color: #F04848 !important;
    border-bottom: 1px dashed #F04848 !important;
}


/*
 * content
 */

#map {
    height: 500px;
    width: 100%;
}

@media (max-width: 768px) {
    #map {
        height: 250px;
    }
}


/*
 * leaflet
 */

.leaflet-popup-content .place-popup-content img.place-image {
    max-height: 500px !important;
    max-width: 300px !important;
}

.leaflet-popup-content .place-popup-content p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.leaflet-popup-content {
    overflow-x: auto;
    overflow-y: auto;
}


/*
 * Bootstrap
 */

.tab-pane {
    padding: 20px;
}
